.container {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  top: 7rem;
  left: 8rem;
}

.heading h4 {
  color: var(--text1);
}

.line {
  border: 1px solid #c4c4c4;
  width: 60rem;
}

.form-container {
  width: 30rem;
  background: var(--form-bg);
  padding: 1.5rem;
}

.form-group label {
  line-height: 1.5rem;
  color: var(--text2);
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}

.btn-custom {
  background-color: var(--button-bg);
  color: var(--button-text);
  box-shadow: var(--button-shadow);
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: none;
  margin-top: 25px;
  font-weight: bold;
}

.btn-custom:hover {
  background-color: var(--button-hover-bg);
  color: var(--button-text);
  cursor: pointer;
}

.btn-custom:focus {
  outline: none;
  border: none;
}

.form-img {
  width: 10rem;
  height: 10rem;
  position: relative;
  left: 5rem;
  top: 3rem;
}

.information p {
  position: relative;
  top: 5rem;
}
