{% extends "base.html"%} 
{% load static %} 
{% block css%}
  <link rel="stylesheet" href="{% static 'css/editpost.css' %}">
{% endblock css%} 
{% block title %}[Sửa] {{post.g_post_title}}{% endblock %} 
{% block content %}
{% if curr_user.Username == post.g_post_user.Username %}
    <!--form-->
    <form class="form-container" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="heading-input">Tiêu đề</label>
        <input type="text" class="form-control" id="heading-input" value="{{post.g_post_title}}" name="g_new_title" required>  
      </div>
  
      <div class="form-group">
        <label for="content-input">Nội dung</label>
        <textarea class="form-control" id="content-input" rows="4" name="g_new_post_content" required>{{post.g_post_content|safe}}</textarea>
      </div>

      <!--image upload-->
      <div class="add-img">
        <i class="bi bi-camera-fill" onclick="document.getElementById('getfile').click()"></i>
        <input type="file" id="getfile" style="display:None" accept="image/*" onchange="showPreview(event);" name="g_new_post_image">
        <div class="preview">
            <img id="getfile-preview"/>
        </div>
      </div>

      <br>
      <div class="d-flex justify-content-end">
        <!-- Button trigger modal -->
        <a href="{% url 'g_discussion' pk1=post.id pk2=Group.id %}">
          <button type="button" class="btn-custom">
            Thoát
          </button>
        </a>

        <button type="submit" class="btn-custom" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="popup-submit">
          Lưu
        </button>

        <!-- Modal 
        {% if messages %}
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Thông báo</h5>
                </button>
              </div>
              <div class="modal-body">
                Tiêu đề và nội dung không được để trống!
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              </div>
              <div class="modal-footer">
                <a href="{% url 'discussion' pk=post.id %}"></a><button type="button" class="btn-custom" data-bs-dismiss="modal">Đóng</button>
              </div>
            </div>
          </div>
        </div>    -->    
      </div>    
      {% endif %}
    </form>
  
    <script>
      function showPreview(event) {
          if (event.target.files.length > 0) {
              var src = URL.createObjectURL(event.target.files[0])
              var preview = document.getElementById("getfile-preview");
              preview.src = src;
              preview.style.display= "block";
          }
      }
    </script>
{% endif %}
{% endblock %}