{% extends "base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/afterlogin.css' %}" />
<link rel="stylesheet" href="{% static 'css/list.css' %}" />
{% endblock css %} {% block title %}Báo cáo {% endblock %} 

{% block content %}

<div class="container1">
    <div class="card">
		<div class="card-header">
			<div class="row">
                <div class="col col-md-7">Danh sách cựu sinh viên K64</div>
                    <div class="col col-md-1 text-right">
    					<button type="button" id="add_button" class="btn btn-success btn-sm">Thêm</button>
    				</div>
                    <div class="col col-md-1 text-right">
    					<button type="button" id="fix_button" class="btn btn-success btn-sm">Sửa</button>
    				</div>
                    <div class="col col-md-1 text-right">
    					<button type="button" id="del_button" class="btn btn-success btn-sm">Xóa</button>
    				</div>
    				<div class="col col-md-1 text-right">
    					<button type="button" id="export_button" class="btn btn-success btn-sm"><a href="{% url 'exportList' %}">Xuất file</a></button>
    				</div>
                    <div class="col col-md-1 text-right">
    					<button type="button" id="import_button" class="btn btn-success btn-sm"><a href="{% url 'importList' %}">Nhập file</a></button>
    				</div>
    		</div>
    	</div>
    	<div class="card-body">
    		<table id="employee_data" class="table table-striped table-bordered">
                <tr>
                    <th>Mã sinh viên</th>
                    <th>Họ và tên</th>
                    <th>Mã khoá</th>
                    <th>Lớp</th>
                </tr>
                <tr>
                    <td>19021308</td>
                    <td>Do Ngoc Huyen</td>
                    <td>K64</td>
                    <td>K64-CACLC4</td>
                </tr>
                <tr>
                    <td>19021214</td>
                    <td>Vũ Tú Anh</td>
                    <td>K64</td>
                    <td>K64-CACLC4</td>
                </tr>
            </table>
    	</div>
    </div>
</div>
    
    </div>
  
    <script>
        let btn = document.querySelector("#btn");
        let contain = document.querySelector("body");
  
        btn.onclick = function() {
          contain.classList.toggle("active");
        }

        function html_table_to_excel(type)
    {
        var data = document.getElementById('employee_data');

        var file = XLSX.utils.table_to_book(data, {sheet: "sheet1"});

        XLSX.write(file, { bookType: type, bookSST: true, type: 'base64' });

        XLSX.writeFile(file, 'file.' + type);
    }

    const export_button = document.getElementById('export_button');

    export_button.addEventListener('click', () =>  {
        html_table_to_excel('xlsx');
    });
      </script>
  </body>
</html>

{% endblock %}