{% extends "base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/income.css' %}" />
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock css %} {% block title %}Thống kê {% endblock %} 

{% block content %}

<div class="container">
    <div class="heading">
      <h4>Thống kê</h4>
    </div>

    <div class="line"></div>

    <div class="container1">
      <div class="form-row">
        <div class="form-group col-7">
            <ul>
              <li class="active"><a href="{% url 'jobStatus' %}">Tình trạng việc làm</a></li>
              <li><a href="{% url 'income' %}">Mức thu nhập trung bình</a></li>
              <li><a href="{% url 'otherStatistics' %}">Nơi làm việc</a></li>
            </ul>
        </div>
        <div class="form-group col-1">
          <lable for="statistic">Chọn khoá</lable>
        </div>
            
        <form id="gradeForm" method="POST" action="{% url 'income_k' %}">
          {% csrf_token %}
          <div class="form-group col-1">
            <select name="GradeSelected" onchange="selectGrade();">
              <option disabled selected="true">Toàn khoá</option>
              {% for grade in Gradedata %}
              <option {% if grade.Grade == result %} selected ="selected" {% endif %}>{{grade.Grade}}</option>
              {% endfor %}
            </select>
          </div>
        </form>
      </div>
    </div>

    <script>
      function selectGrade() {
        document.getElementById('gradeForm').submit();
      }
    </script>

    <div class="container2">
        <div>
            <h4>Thu nhập trung bình</h4>
        </div>
        <div>
            <p>Thống kê mức thu nhập của cựu sinh viên của các khoá ra trường</p>
        </div>
        <div id="piechart" style="width: 800px; height: 500px;"></div>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {

          var data = google.visualization.arrayToDataTable({{values|safe}});
          var options = {
            title: ''
            };

          var chart = new google.visualization.PieChart(document.getElementById('piechart'));

          chart.draw(data, options);
          }
        </script>
      </div>
  </div>
  
  </div>

  <script>
    let btn = document.querySelector("#btn");
    let contain = document.querySelector("body");

    btn.onclick = function() {
      contain.classList.toggle("active");
    }
  </script>

{% endblock %}
